@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

:root {
  --main-bg-color: #2c5ceb;
  --secondary-bg-color: rgba(235, 187, 44);
  --accessory-color: #eb2c5c;
  --accessory-color-2: rgba(235, 44, 187, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--secondary-bg-color);
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  background: var(--secondary-bg-color);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: var(--main-bg-color);
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #000;
  border: 1px solid var(--accessory-color);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

/* .btn-block {
  display: block;
  width: 100%;
} */

#termInput {
  min-height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

#termBox,
#searchType,
#displayNumber {
  font-size: 15px;
  padding: 0.5em;
  text-align: center;
}

#termBox:focus {
  outline: none;
  border-bottom: 3px solid var(--accessory-color);
}

#locateBtn {
  align-self: center;
  margin: 1em 0 1em 0;
}

#venueLink:link {
  color: black;
}

#venueLink:visited {
  color: black;
}

#venueLink:hover {
  color: var(--accessory-color);
}

#venueLink:active {
  transform: scale(0.9);
}

#map {
  align-self: center;
  height: 100%;
}

.protoVenue {
  background: var(--secondary-bg-color);
  border: 1em solid rgba(120, 120, 120, 0.5);
  border-style: outset;
  border-radius: 0.1em;
  margin: 5px;
  padding: 2em 3em;
}

.protoVenue h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-top: 30px;
  text-align: center;
}

/* media query for large screenurl('./beermugs.png') */
